<!DOCTYPE html>
<html>
<head>
  <title>gSchool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user.present? %>
  <h3>**** Welcome <%= current_user.user_name %></h3> | <%=link_to 'Sign Out', logout_path %> 

  <% else %> 
  <%= link_to "Sign In", login_path %> 

  <% end %> 

  <br>
  <br>

<%=link_to "Home", root_path %> | <%=link_to "Courses", courses_path %> 

<% if notice %>
<h2><center><%= notice %></center></h2>
<% end %>





<%= yield %>

</body>
</html>



